#navbar{
  animation: 1s linear infinite running colorChange;
}

#resFoot{
  animation: 1s linear infinite running colorChange;
}

#pp{
  animation: 1.5s linear infinite running ppBorder;
}

.shine{ 
  text-transform: uppercase;
  background-image: radial-gradient(at 50% 50%, #ffffff 5%, #ffd700 10%, #daa520 15%, #ffffff 90%);
  background-size: 500%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textAnim 6s linear infinite;
}

#donate a:hover{
  animation: 1.5s linear infinite running donateButton;
}

@keyframes colorChange{
  100% {border-color: rgb(238, 227, 176);}
  80% {border-color: #f7d47d;}
  50% {border-color: #ffa500;}
}

@keyframes ppBorder{
  100%{border-image: radial-gradient(at 0% 100%, #ffffff 10px, rgba(235, 212, 184, 0.836) 50%, rgba(233, 206, 174, 0.836) 80%, rgb(220, 171, 110) 90%)1;}
  80%{border-image: radial-gradient(at 20% 80%, #ffffff 10px, rgba(235, 212, 184, 0.836) 50%, rgba(233, 206, 174, 0.836) 80%, rgb(220, 171, 110) 90%)1;}
  40%{border-image: radial-gradient(at 80% 20%, #ffffff 10px, rgba(235, 212, 184, 0.836) 50%, rgba(233, 206, 174, 0.836) 80%, rgb(220, 171, 110) 90%)1;}
  20%{border-image: radial-gradient(at 100% 0%, #ffffff 10px, rgba(235, 212, 184, 0.836) 50%, rgba(233, 206, 174, 0.836) 80%, rgb(220, 171, 110) 90%)1;}
  0%{border-image: radial-gradient(at 0% 100%, #ffffff 10px, rgba(235, 212, 184, 0.836) 50%, rgba(233, 206, 174, 0.836) 80%, rgb(220, 171, 110) 90%)1;}
}

@keyframes textAnim{
  to{background-position: 250% center;}
}

@keyframes donateButton{
  100%{border-image: radial-gradient(at 0% 100%, #ffffff 5px, rgba(204, 184, 235, 0.836) 40%, rgba(209, 24, 184, 0.836) 70%, blueviolet 80%)1;}
  50%{border-image: radial-gradient(at 100% 0%, #ffffff 5px, rgba(204, 184, 235, 0.836) 40%, rgba(209, 24, 184, 0.836) 70%, blueviolet 80%)1;}
  0%{border-image: radial-gradient(at 0% 100%, #ffffff 5px, rgba(204, 184, 235, 0.836) 40%, rgba(209, 24, 184, 0.836) 70%, blueviolet 80%)1;}
}